mode = "symlink"
progress = true

[edit]
apply = true
hardlink = false


[data.git]
{{- $git_name := promptString "Git name" }}
name = {{ $git_name | quote }}
{{- $git_email := promptString "Git email" }}
email = {{ $git_email | quote }}
