{{- $modules_right := list "clock" "wireplumber" (ternary "network" "" (hasKey . "wireless_nic")) (ternary "battery" "" .laptop) "group/powermenu" | compact -}}
[
  {
    {{ if hasKey . "laptop_monitor" -}}
    "output": {{ print "!" .laptop_monitor | quote }},
    {{- end }}
    "position": "bottom",

    "include": [
      "~/.config/waybar/config.d/modules-left.jsonc",
      "~/.config/waybar/config.d/modules-center.jsonc",
      "~/.config/waybar/config.d/modules-right.jsonc",
    ],

    "modules-right": [
      {{- range $modules_right }}
        {{ . | quote }},
      {{- end }}
    ],
  },
  {{ if hasKey . "laptop_monitor" -}}
  {
    "output": {{ .laptop_monitor | quote }},
    "position": "bottom",

    "include": [
      "~/.config/waybar/config.d/modules-left.jsonc",
      "~/.config/waybar/config.d/modules-center.jsonc",
      "~/.config/waybar/config.d/modules-right.jsonc",
    ],

    "modules-right": [
      {{- range initial $modules_right }}
        {{ . | quote }},
      {{- end }}
      {{- if hasKey . "backlight" }}
        "backlight",
      {{- end }}
      {{ last $modules_right | quote }},
    ],
  },
  {{- end }}
]
