[
  {
    {{ if hasKey . "laptop_monitor" -}}
    "output": {{ print "!" .laptop_monitor | quote }},
    {{- end }}
    "position": "bottom",
    "margin": "0 5 5 5",

    "include": [
      "~/.config/waybar/config.d/modules-left.jsonc",
      "~/.config/waybar/config.d/modules-center.jsonc",
      "~/.config/waybar/config.d/modules-right.jsonc",
    ],
  },
  {{ if hasKey . "laptop_monitor" -}}
  {
    "output": {{ .laptop_monitor | quote }},
    "position": "bottom",
    "margin": "0 5 5 5",

    "include": [
      "~/.config/waybar/config.d/modules-left.jsonc",
      "~/.config/waybar/config.d/modules-center.jsonc",
      "~/.config/waybar/config.d/modules-right.jsonc",
    ],
  },
  {{- end }}
]
