window#waybar {
  background: transparent;
  color: @theme_text_color;
  font-size: 12px;
}

tooltip {
  background: alpha(@theme_base_color, 0.75);
}

.module {
  background: alpha(@theme_base_color, 0.5);
  border-radius: 15px;
  padding: 0 12px;
  margin: 0 5px;
}

#submap {
  background: #f6be00;
  color: black;
}

#backlight.night {
  background: linear-gradient(to bottom, #071B26 0%, #071B26 30%, #8A3B12 80%, #240E03 100%);
}
#backlight.evening {
  background: linear-gradient(to bottom, #154277 0%, #576e71 30%, #e1c45e 70%, #b26339 100%);
}
#backlight.afternoon {
  background: linear-gradient(to bottom, #2473ab 0%, #1e528e 70%, #5b7983 100%);
}
#backlight.noon {
  background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 100%);
}

@keyframes blink {
  to {
    background-color: red;
  }
}
#battery.warning:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.discharging {
  background: linear-gradient(to right, alpha(green, 0.75) 0%, alpha(#EED202, 0.75) 50%);
}
#battery.charging {
  background: linear-gradient(to right, alpha(#EED202, 0.75) 0%, alpha(green, 0.75) 100%);
}
#battery.full {
  background: alpha(green, 0.75);
}
