[Unit]
Description=Rclone music job
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
ExecStart=rclone sync --verbose ${XDG_MUSIC_DIR} music:
