[Unit]
Description=Rclone Calibre job
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
ExecStart=rclone sync --verbose --delete-excluded --exclude '*/.cal**' "${XDG_DOCUMENTS_DIR}/Calibre" calibre:
