[Unit]
Description=Rclone games job
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
ExecStart=rclone sync --verbose "${HOME}/Games/RenPy" games:RenPy
