[Unit]
Description=Rclone music job
Wants=network-online.target
After=network-online.target
PartOf=rclone.target

[Timer]
OnCalendar=*-*-* 08:00
OnCalendar=*-*-* 20:00
RandomizedDelaySec=2h
Persistent=true

[Install]
WantedBy=rclone.target
