[user]
name = {{ .git.name }}
email = {{ .git.email }}

{{ if hasKey .git "signingKey" -}}
[user]
signingKey = {{ .git.signingKey }}
[commit]
gpgSign = true
[tag]
gpgSign = true
{{- end }}

{{ if lookPath "interactive-rebase-tool" -}}
[sequence]
editor = interactive-rebase-tool
{{- end }}

[difftool]
prompt = false
trustExitCode = true

[alias]
br = !broot --conf '{{ env "XDG_CONFIG_HOME" }}/broot/git.conf.toml'
ccommit = -c 'core.editor=meteor --as-git-editor' commit
graph = !serie
unstage = restore --staged

[advice]
defaultBranchName = false
