[Unit]
Description=Hyprland blue-light filter
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hyprsunset
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Timer]
OnCalendar=*-*-* 17:30

[Install]
WantedBy=graphical-session.target
Also=hyprsunset-stop.timer
